<a href="https://colab.research.google.com/github/bragonzu/DATASCIENCE/blob/main/Introduction%20to%20Data%20Science%20in%20Python/Semana%202/Sem2_2_queryingadataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**QUERYING DATAFRAME**

In [1]:
import pandas as pd

df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DATASETS/auto/auto-mpg.csv')
df.head()

    mpg  cylinders  displacement  ...  model year  origin                   car name
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70       1          buick skylark 320
2  18.0          8         318.0  ...          70       1         plymouth satellite
3  16.0          8         304.0  ...          70       1              amc rebel sst
4  17.0          8         302.0  ...          70       1                ford torino

[5 rows x 9 columns]

In [12]:
#REEMPLAZAMOS TODO LOS ATRIBUTOS A MAYUS
df.columns=[x.upper().strip() for x in df.columns] 
df.head(14)

     MPG  CYLINDERS  ...  ORIGIN                          CAR NAME
0   18.0          8  ...       1         chevrolet chevelle malibu
1   15.0          8  ...       1                 buick skylark 320
2   18.0          8  ...       1                plymouth satellite
3   16.0          8  ...       1                     amc rebel sst
4   17.0          8  ...       1                       ford torino
5   15.0          8  ...       1                  ford galaxie 500
6   14.0          8  ...       1                  chevrolet impala
7   14.0          8  ...       1                 plymouth fury iii
8   14.0          8  ...       1                  pontiac catalina
9   15.0          8  ...       1                amc ambassador dpl
10   NaN          4  ...       2              citroen ds-21 pallas
11   NaN          8  ...       1  chevrolet chevelle concours (sw)
12   NaN          8  ...       1                  ford torino (sw)
13   NaN          8  ...       1           plymouth satellite (sw)

[14 rows x 9 columns]

In [19]:
#CREAREMOS UNA MASCARA DE ADMISION PARA 'PROYECTAR' QUE REGISTRO CUMPLE
admit_mask=df['CYLINDERS']>=6 #LA MASCARA SOLO MUESTRA SI ES VERDADERO O FALSO LA COMPARACION
admit_mask

0       True
1       True
2       True
3       True
4       True
       ...
401    False
402    False
403    False
404    False
405    False
Name: CYLINDERS, Length: 406, dtype: bool

In [20]:
#MOSTRAMOS LOS REGISTROS, PERO LOS QUE NO CUMPLEN CON LA CONDICION
#DE ARRIBA SE VUELVE NaN
df.where(admit_mask).head(14)

     MPG  CYLINDERS  ...  ORIGIN                          CAR NAME
0   18.0        8.0  ...     1.0         chevrolet chevelle malibu
1   15.0        8.0  ...     1.0                 buick skylark 320
2   18.0        8.0  ...     1.0                plymouth satellite
3   16.0        8.0  ...     1.0                     amc rebel sst
4   17.0        8.0  ...     1.0                       ford torino
5   15.0        8.0  ...     1.0                  ford galaxie 500
6   14.0        8.0  ...     1.0                  chevrolet impala
7   14.0        8.0  ...     1.0                 plymouth fury iii
8   14.0        8.0  ...     1.0                  pontiac catalina
9   15.0        8.0  ...     1.0                amc ambassador dpl
10   NaN        NaN  ...     NaN                               NaN
11   NaN        8.0  ...     1.0  chevrolet chevelle concours (sw)
12   NaN        8.0  ...     1.0                  ford torino (sw)
13   NaN        8.0  ...     1.0           plymouth satellite (sw)

[14 rows x 9 columns]

In [21]:
#ELIMINAREMOS LOS REGISTROS QUE NO CUMPLEN LA CONDICION (NaN)
df.where(admit_mask).dropna().head()

    MPG  CYLINDERS  DISPLACEMENT  ...  MODEL YEAR  ORIGIN                   CAR NAME
0  18.0        8.0         307.0  ...        70.0     1.0  chevrolet chevelle malibu
1  15.0        8.0         350.0  ...        70.0     1.0          buick skylark 320
2  18.0        8.0         318.0  ...        70.0     1.0         plymouth satellite
3  16.0        8.0         304.0  ...        70.0     1.0              amc rebel sst
4  17.0        8.0         302.0  ...        70.0     1.0                ford torino

[5 rows x 9 columns]

In [22]:
#MOSTRAMOS CYLINDERS  MAYOR A 6
df[df['CYLINDERS']>=6].head()

    MPG  CYLINDERS  DISPLACEMENT  ...  MODEL YEAR  ORIGIN                   CAR NAME
0  18.0          8         307.0  ...          70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70       1          buick skylark 320
2  18.0          8         318.0  ...          70       1         plymouth satellite
3  16.0          8         304.0  ...          70       1              amc rebel sst
4  17.0          8         302.0  ...          70       1                ford torino

[5 rows x 9 columns]