<a href="https://colab.research.google.com/github/bragonzu/DATASCIENCE/blob/main/Introduction%20to%20Data%20Science%20in%20Python/Semana%202/Sem2_5_ManipulatingDataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to Data Science in Python/Semana 2/

In [3]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DATASETS/_DSWITHPYTHON/presidents.csv')

In [5]:
df.head()

   #          President  ...          Died                 Age
0  1  George Washington  ...  Dec 14, 1799  67 years, 295 days
1  2         John Adams  ...   Jul 4, 1826  90 years, 247 days
2  3   Thomas Jefferson  ...   Jul 4, 1826   83 years, 82 days
3  4      James Madison  ...  Jun 28, 1836  85 years, 104 days
4  5       James Monroe  ...   Jul 4, 1831   73 years, 67 days

[5 rows x 8 columns]

Creamos una nueva columna que es copia de presidente

In [8]:
df['First']=df['President']
df.head()

   #          President  ...                 Age              First
0  1  George Washington  ...  67 years, 295 days  George Washington
1  2         John Adams  ...  90 years, 247 days         John Adams
2  3   Thomas Jefferson  ...   83 years, 82 days   Thomas Jefferson
3  4      James Madison  ...  85 years, 104 days      James Madison
4  5       James Monroe  ...   73 years, 67 days       James Monroe

[5 rows x 9 columns]

En la columna first el primer espacio en blanco la cambiamos por una vacia


Ejemplo:

Input:Juan Medina Gomez 

Output:Juan

In [10]:
df['First']=df['First'].replace("[ ].*","",regex=True)
df.head()

   #          President  ...                 Age   First
0  1  George Washington  ...  67 years, 295 days  George
1  2         John Adams  ...  90 years, 247 days    John
2  3   Thomas Jefferson  ...   83 years, 82 days  Thomas
3  4      James Madison  ...  85 years, 104 days   James
4  5       James Monroe  ...   73 years, 67 days   James

[5 rows x 9 columns]

In [12]:
df['Born']=df['Born'].str.extract("([\w]{3} [\w]{1,2}, [\w]{4})")
df['Born'].head()

0    Feb 22, 1732
1    Oct 30, 1735
2    Apr 13, 1743
3    Mar 16, 1751
4    Apr 28, 1758
Name: Born, dtype: object

In [13]:
df['Born']=pd.to_datetime(df['Born'])
df['Born'].head()

0   1732-02-22
1   1735-10-30
2   1743-04-13
3   1751-03-16
4   1758-04-28
Name: Born, dtype: datetime64[ns]